.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #020617;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
