* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

section {
  padding: 80px 10%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}
